@model IEnumerable<Mohiuddin_EcommerceWebsite.Models.Discount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="float-start">Discount List</h4>
                @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-secondary float-end"})
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Percentage)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Percentage)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DiscountId }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DiscountId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

