@model Mohiuddin_EcommerceWebsite.Models.ViewModels.CategoryProductsViewModel

@{
    ViewBag.Title = "CategoryProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>All Categories</span>
                </div>
                <ul>
                    @Html.Partial("_CategoryPartial", Model.Categories)
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card border-0 shadow-lg">
                <div class="card-header">
                    <h2 class="text-center fw-bold">All Products from @Model.CategoryName</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="@Url.Content(product.ImageUrl)" class="card-img-top" alt="@product.ProductName">
                                    <div class="card-body">
                                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductId })" class="card-title">@product.ProductName</a>
                                        <p class="card-text">TK @product.Price</p>
                                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductId })" class="btn btn-primary">Details</a>
                                        <span class="btn btn-success add-to-cart" data-id="@product.ProductId">Add to cart</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('.humberger__menu__cart ul li span').text(response.totalItemCount);
                        $('.header__cart__price span').text('TK' + response.totalPrice.toFixed(2));
                    } else {
                        toastr.error('There was an error adding the product to the cart.');
                    }
                },
                error: function () {
                    toastr.error('There was an error adding the product to the cart.');
                }
            });
        });
    });
</script>
