@model Mohiuddin_EcommerceWebsite.Models.Product


@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(Model.ImageUrl)" class="img-fluid" alt="@Model.ProductName">
        </div>
        <div class="col-md-6">

            <h2 class="fw-bold pb-2">@Model.ProductName</h2>
            <h4>Categories</h4>
            <ul style="list-style:none">
                <li>@Model.ProductCategory.CategoryName</li>
                @foreach (var subCategory in Model.ProductCategory.ProductSubCategories)
                {
                    <li>@subCategory.SubCategoryName</li>
                }
            </ul>
            <p class="pt-1"><strong>Brand:</strong> @Model.Brand.BrandName</p>
            <p><strong>Stock Quantity:</strong> @Model.Quantity</p>
            <h3 class="text-danger pt-2"><strong>Unit Price:</strong>TK @Model.Price</h3>
            <span class="btn btn-success add-to-cart mt-2" data-id="@Model.ProductId">Add to cart</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="fw-bold">Product Description</h2> <hr />
            <p>@Model.Description</p>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('.humberger__menu__cart ul li span').text(response.totalItemCount);
                        $('.header__cart__price span').text('TK' + response.totalPrice.toFixed(2));
                    } else {
                        toastr.error('There was an error adding the product to the cart.');
                    }
                },
                error: function () {
                    toastr.error('There was an error adding the product to the cart.');
                }
            });
        });
    });
</script>



