@model IEnumerable<Mohiuddin_EcommerceWebsite.Models.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="float-start">Product List</h4>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success float-end" })
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered productTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Title</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Brand</th>
                            <th>Image</th>
                            <th>Stock Count</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.CategoryName</td>
                                <td>@item.SubCategoryName</td>
                                <td>@item.BrandName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Product Image" style="max-width: 100px;" />
                                    }
                                </td>
                                <td>@item.Quantity</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning" }) 
                                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" }) 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>



