<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/frontend/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="~/Content/frontend/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-bag"></i> <span id="cart-item-count">0</span></a></li>
            </ul>
            <div class="header__cart__price">Total: <span id="cart-total-price">TK 0.00</span></div>
            
        </div>

        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="@Url.Action("Login", "Account")"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>

                <li>@Html.ActionLink("Index", "Admin")</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-md-2">
                        <div class="header__top__left">
                            <ul>
                                <li>@Html.ActionLink("Admin Dashboard", "Index", "Admin", null, new { @class = "btn btn-success" })</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 mt-1">
                        <div class="row">
                            <div class="hero__search__phone col-md-4">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>+880 1831332732</h5>
                                    <span>support 24/7 time</span>
                                </div>
                            </div>
                            <div class="hero__search__form col-md-8">
                                <form id="searchForm" action="@Url.Action("LiveSearch", "Home")" method="get">
                                    <input type="text" id="searchInput" name="searchTerm" placeholder="What do you need?">
                                    <button type="submit" class="site-btn">SEARCH</button>
                                </form>
                                <div id="searchResults" class="search-results"></div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="header__top__right">

                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <div class="header__top__right__language">
                                        <a href="#" class="text-black"><i class="fa fa-user"></i> @User.Identity.Name</a>
                                        <span class="arrow_carrot-down"></span>
                                        <ul>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
                                                <li>@Html.ActionLink("My Orders", "MyOrders", "Account")</li>
                                            }
                                            <li>
                                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();">Log off</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="header__top__right__language">
                                        <a href="@Url.Action("Login", "Account")" class="text-black"><i class="fa fa-user"></i> Login</a>
                                        <span class="arrow_carrot-down"></span>

                                    </div>
                                }
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainHeader mb-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/"><img src="~/Images/logo/buyandpick.png" alt="BuyandPick.com"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu text-center">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="@Url.Action("Shop", "Home")">Shop</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="humberger__menu__cart header__cart">
                            <ul>
                                <li><a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-bag"></i> <span id="cart-item-count">0</span></a></li>
                            </ul>
                            <div class="header__cart__price">Total: <span id="cart-total-price"> 0.00</span></div>
                        </div>
                    </div>


                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>

    </header>



    <main>
        @RenderBody()
    </main>


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/"><img src="~/Images/logo/buyandpick.png" alt="BuyandPick.com"></a>
                        </div>
                        <ul>
                            <li>
                                <strong>Address:</strong> Farmview Super Market
                                87/92 B Green Rd, Dhaka 1215
                            </li>
                            <li><strong>Phone:</strong> +880 1831 332 732</li>
                            <li><strong>Email:</strong> mdmhddin@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Website Developed <i class="fa fa-heart" aria-hidden="true"></i> by Mohiuddin, ID: 1280860
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/Content/frontend/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/frontend/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/frontend/js/jquery-ui.min.js"></script>
    <script src="~/Content/frontend/js/jquery.slicknav.js"></script>
    <script src="~/Content/frontend/js/mixitup.min.js"></script>
    <script src="~/Content/frontend/js/owl.carousel.min.js"></script>
    <script src="~/Content/frontend/js/main.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/FrontScript.js"></script>

    <script>
    $(document).ready(function () {
        
         $('#searchForm').on('submit', function(e) {
            e.preventDefault(); // Prevent form from submitting normally
        });

        $('#searchInput').on('input', function() {
            var query = $(this).val();

            if (query.length > 2) {
                $.ajax({
                    url: '@Url.Action("LiveSearch", "Home")',
                    type: 'GET',
                    data: { searchTerm: query },
                    success: function(data) {
                        $('#searchResults').html('');
                        if (data.length > 0) {
                            data.forEach(function(product) {
                                $('#searchResults').append(
                                    '<div class="search-result-item" data-id="' + product.ProductId + '">' +
                                        '<a href="' + '@Url.Action("ProductDetails", "Home", new { id = "PRODUCT_ID" })'.replace('PRODUCT_ID', product.ProductId) + '">' +

                                            '<span>' + product.ProductName + '</span>' +
                                        '</a>' +
                                    '</div>'
                                );
                            });
                        } else {
                            $('#searchResults').append('<div class="search-result-item">No results found</div>');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error: ' + error);
                        console.error('Status: ' + status);
                        console.dir(xhr);
                    }
                });
            } else {
                $('#searchResults').html('');
            }
        });

        $(document).on('click', '.search-result-item', function() {
            var productId = $(this).data('id');
            window.location.href = '@Url.Action("ProductDetails", "Home")/' + productId;
        });


    });
    </script>

</body>
</html>

