@model IEnumerable<Mohiuddin_EcommerceWebsite.Models.Unit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="float-start">Add New Unit</h4>
                @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-success float-end"})
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitName)
                        </th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UnitId }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.UnitId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


